@media(max-width:1030px) {
    .snap__content {
        align-items: center;
        flex-direction: column-reverse;
        gap: 3em;
        padding: 0;
    }

    .remote__picture {
        width: 100%;
        max-width: 850px;
    }
    
    .snap__content__infos {
        width: 100%;
        max-width: 850px;
        padding: .5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .snap__content__txt {
        text-align: center;
    }
    
    .snap__content__txt__t {
        font-size: 2.2rem;
    }
    
    .snap__content__txt__p {
        max-width: unset;
        margin: 1.5em 0em 1.5em 0em;
        font-size: 1.01rem;
    }

    .snap__content__collaborations {
        max-width: 600px;
    }

    .collaborations__item {
        max-width: 80px;
    }

    .attribution {
        position: unset;
        margin-top: 6em;
    }
}

/* Mobile START */
/* Mobile START */
/* Mobile START */
@media(max-width:870px) {
    .snap__header {
        margin: 1.5rem 0em;
        padding: 0em 1.125rem;
        height: 30px;
        justify-content: space-between;
        position: unset;
    }

    /* Hamburger menu icon START*/
    /* Hamburger menu icon START*/
    .menu__buttons__open__close__mobile {
        display: flex;
        align-items: center;
        z-index: 5;
    }

    .mobile--open--menu,
    .mobile--close--menu {
        transition: 0.2s ease;
        cursor: pointer;
    }

    .mobile--open--menu:active,
    .mobile--close--menu:active {
        transform: scale(0.92);
    }

    .mobile--close--menu {
        display: none;
    }
    /* Hamburger menu icon END*/
    /* Hamburger menu icon END*/



    /* Modal menu START */
    /* Modal menu START */
    .snap__header__menu__nav {
        height: 100%;
        overflow: hidden;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        background-color: var(--Almost__White);
        gap: 1em;
        width: 100%;
        max-width: 240px;
        padding: 4em 1em 1em 1em;
        z-index: 5;
        animation: animation__close__menu .3s ease-out;
    }
    /* Modal menu END */
    /* Modal menu END */



    .features__modal,
    .company__modal {
        gap: .64em;
        background-color: unset;
        box-shadow: none;
        padding: 0em 0em 0em 1.2em;
        position: unset;
        margin-top: 1em;
    }

    .menu__nav__features,
    .menu__nav__company {
        flex-direction: column;
        align-items: start;
    }

    .menu__nav__carrers__about {
        align-items: start;
        flex-direction: column;
        gap: 1em;
    }

    .menu__nav__buttons__access {
        position: unset;
        flex-direction: column;
        max-width: unset;
        gap: 1em;
        margin: 0;
    }
}

@media(max-width:370px) {
    .collaborations__item {
        max-width: 60px;
    }
}
/* Mobile END */
/* Mobile END */
/* Mobile END */



/* JavaScript */
.activate__modal__menu {
    display: flex;
    animation: animation__open__menu .5s ease;
}

.activate__overlay {
    display: flex;
}

@keyframes animation__open__menu {
    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 240px;
        opacity: 1;
    }
}

@keyframes animation__close__menu {
    0% {
        display: flex;
        width: 240px;
        opacity: 1;
    }

    100% {
        width: 0px;
        opacity: 0;
    }
}